* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-color: #75543B;
  }

  .nav_bar {
    background-color: #75543B;
    list-style-type: none;
    padding: 50px 120px;
    text-align: right;
  }
  
  .nav_bar li {
    display: inline;
  }
    
  .nav_bar li a {
    color: #FaF5ED;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4em;
    font-weight: 600;
    text-decoration: none;
    padding: 0px 25px;
  }

  .nav_bar li a:hover {
    color: #F2C784;
    transition: color 0.5s;
  }
  
  #home-header {
    background-color: #59402C;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px 240px;
    flex-wrap: wrap;
  }

  .header {
    background-color: #59402C;
    padding: 80px 0px;
    text-align: center;
  }
   
  h1 {
    color: #F2C784;
    font-family: 'Indie Flower';
    font-size: 45px;
  }
  
  h3 {
    text-decoration: none;
    color: #EBEFF0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    line-height: 160%;
    padding-top: 50px;
    padding-bottom: 0px;
    padding-left: 150px;
    padding-right: 150px;
  }
  
  h4 {
    text-decoration: none;
    color: #EBEFF0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 5px;
    padding-left: 85px;
    padding-right: 70px;
  }
  
  h5 {
    text-decoration: none;
    color: #EBEFF0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    padding-top: 15px;
  }
  
  h6 {
    text-decoration: none;
    color: #dec2ab;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 85px;
    padding-right: 85px;
  }
  
  p {
    text-decoration: none;
    color: #EBEFF0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding-bottom: 8px;
    padding-left: 104px;
    padding-right: 85px;
  }

  .line {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    flex-wrap: wrap;
  }
  
  #linkedin {
    color: #deb592;
    text-decoration: none;
  }
  
  #github {
    color: #deb592;
    text-decoration: none;
  }
  
  #pandemic {
    color: #deb592;
    text-decoration: none;
  }
  
  #quiz {
    color: #deb592;
    text-decoration: none;
  }
  
  .glitch-embed-wrap {
    padding-left: 85px;
  }
  
  #nexxice {
    color: #deb592;
    text-decoration: none;
  }
  
  .synchro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    padding-top: 80px;
  }
  
  #synchro-img {
    width: 25em;
    length: 25em;
    border: 4px solid #e3e3e3;
  }
  
  .hiking {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    padding-top: 0px;
  }
  
  #hiking-img {
    width: 25em;
    length: 25em;
    border: 4px solid #e3e3e3;
  }
  
  .violin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    padding-top: 0px;
  }
  
  #violin-img {
    width: 25em;
    length: 25em;
    border: 4px solid #e3e3e3;
  }
  
  .cats {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    padding-top: 0px;
  }
  
  #cats-img {
    width: 25em;
    length: 25em;
    border: 4px solid #e3e3e3;
  }
  
  .photography {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 12px;
  }
  